<section class="resto-top d-flex flex-wrap align-items-center justify-content-between">
  <div class="container py-5">
    <h1 class="display-4 font-weight-bolder text-white ">You crave.<br>We get it.</h1>
  </div>
</section>
<div class="header-restaurant border-bottom">
  <div class="d-flex justify-content-between m-auto" style="height: 100%; max-width: 1024px;">
    <div class="d-flex position-relative align-items-center">
      <div class="d-flex justify-content-between">
        <div class="bd-highlight">Delivery</div>
        <div class="bd-highlight" style="padding-left: 10px">📍<%= @parameter %></div> 
      </div>
    </div>
  </div>
</div>

<section class="border-top border-bottom border-black-50">
  <div class="container py-4">
    <div class="search-params">
      <span class="mr-3 text-black-50"><i class="fas fa-map-marker-alt"></i></span> <span class="text-dark font-weight-bold"><%= params[:search] %></span>
    </div>
  </div>
</section>

<section>
  <div class="container mb-5">
    <div class="resto-list-head position-relative mb-5 pb-1 border-bottom">
      <div class="black-dash">
      </div>
      <div class="d-flex pt-5">
          <div class="d-flex">
            <h3 class="font-weight-bold mb-2">Daily Deals</h3>
          </div>
      </div>
      <div class="d-flex justify-content-between">
        <p class="text-black-50">Epic deals from your favorite restaurants!</p>
        <%= link_to root_path, class: 'text-black-50' do %>
          View all 25 &#x3e;
        <% end %>
      </div>  
    </div>
    <div class="d-flex flex-wrap justify-content-between" >
      <% @restaurants.each do |resto| %>
        <a href="/restaurants/<%= resto.id %>">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%= resto.img_url %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= resto.name %></h5>
              <p class="card-text">Rating :<%= resto.rating %><i class="bi bi-star"></i></p>
              <p class="card-text">Delivery Time : <%= resto.min_time %> to <%= resto.max_time %></p>
            </div>
          </div>   
        </a>
      <% end %>
    </div>
  </div>
</section>
