<% content_for :page_title do %>
  <%= @restaurant.name %> &bull; Order Online &bull;
<% end %>

<section class="resto-show-top d-flex flex-wrap align-items-center justify-content-between position-relative w-100">
  <div class="resto-show-top-wrap container py-5 position-fixed d-flex align-items-center w-100">
    <div class="resto-show-top-text-wrap container w-100 center">
      
    </div>
  </div>
</section>

<section class="location-sticky border-top border-bottom border-black-50 bg-white">
  <div class="container py-3">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="search-params">
        <span class="text-dark font-weight-bold">Delivery</span>
      </div>
      <div class="cart-content-count-wrap border border-secondary rounded-pill">
        <div class="cart-content-count py-2 px-3">
            <span class="cart-icon"><i class="fas fa-shopping-cart"></i> </span> <span class="font-weight-bold text-secondary"> <span id="total-count">0</span> ITEMS </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="restaurant-container">
  <div class="container">
    <div class="col-12 d-flex flex-wrap px-0 py-4">
      <div class="restaurant-info col-12 col-md-6 px-0">
        <div class="restaurant-delivery-price text-success">
          <p class="mb-1">FREE DELIVERY</p>
        </div>
        <h1 class="restaurant-name font-weight-bold mb-0"> <%= @restaurant.name %> </h1>
        <div class="restaurant-info-pills-container mt-3">
          <div class="restaurant-info-pills border border-black-50 restaurant-delivery-time">
            <p><span class="text-secondary mr-1"><i class="fas fa-clock"></i></span>  <%= @restaurant.min_time %></span>-<span class="max-time"><%= @restaurant.max_time %> MIN</p>
          </div>
          <div class="restaurant-info-pills border border-black-50 restaurant-address">
            <p><span class="text-secondary mr-1"><i class="fas fa-map-marker-alt"></i></span> <%= @restaurant.address %></p>
          </div>
          <div class="restaurant-info-pills border border-black-50 restaurant-rating">
            <p> <%= '★' * @restaurant.rating %> </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 px-0">
        <div class="restaurant-order-summary border border-black-50 p-4">
          <h5 class="font-weight-bold">YOUR ORDERS</h5>
          <p id="added-menu"></p>
          <div class="d-flex flex-wrap justify-content-between align-items-last mt-5">
            <div class="restaurant-total-items">
              <p class="mb-1">TOTAL ITEMS: <span id="total-count">0</span></p>
              <h4 class="text-success font-weight-bold">SGD <span id="total-price">0</span></h4>
            </div>
            <div class="restaurant-checkout-btn">
              <button class="btn btn-dark rounded-pill px-4 py-2" id="click-check-out">CHECK OUT</button>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>
</section>

<section class="resto-lists">
  <div class="container mb-5">
    <div class="resto-list-head position-relative mb-5 pb-1 border-bottom">
      <div class="d-flex pt-5">
          <div class="d-flex">
            <h4 class="font-weight-bold mb-2">★ Popular Items</h4>
          </div>
      </div>  
    </div>
  </div>
</section>

<section class="restaurant-menu-container">
  <div class="container">
    <div class="row mt-5">
      <% @menu_items.each do |menu_item| %>
      <%= render 'menu_item_card', menu_item: menu_item %>  
      <%= render 'menu_modal', menu_item: menu_item %>
      <% end %>
    </div>
  </div>
</section>

