<!DOCTYPE html>
<html>
  <head>
    <title> <%= content_for :page_title %> Postmates: Food Delivery, Groceries, Alcohol - Anything from Anywhere</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'show', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'checklogin', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
